<!DOCTYPE html>
<!-- 
    Comentariu
-->
<html>
    <head lang="ro">
        <%- include("../fragmente/head.ejs") %>
        <!-- ***************************************** -->
        <title>PC Fabric - Componente IT</title>
        <meta name="keywords" content="bucuresti, calculator, pc, procesor, placa grafica, intel, amd, nvidia, asamblare, cabluri, ssd, stocare, surse alimentare">
        <meta name="description" content="PC Fabric - Construiește-ți propriul PC după bunul plac, iar noi avem grijă ca piesele tale să fie compatibile.
            Serviciu de asamblare la cerere.">
        <link rel="stylesheet" href="/resurse/css/galerie_statica.css">
    </head>

    <body>
        <%- include("../fragmente/header.ejs") %>
        <main>
            <p id="watermark"> Georgian Sofronea </p>

            <video id="video-local" poster="/resurse/video/videolocal_thumbnail.png" preload="auto" controls>
                <source src="/resurse/video/videolocal.mp4" type="video/mp4">
                <source src="/resurse/video/videolocal.ogg" type="video/ogg">
                Your browser does not support the video tag.
            </video>

            <div id="grid-pagina">
                <section id="welcome">
                    <h2 id="text-reflectat">
                        Bine ați venit la PC Fabric!
                        <h2 id="reflexie-text">Bine ați venit la PC Fabric!</h2>
                    </h2>
                    
                    <p> <%- locals.ip %> </p>
                    <p>La noi gasiti cele mai bune oferte la componente PC, iar specialitatea noastră: vă spunem dacă sunt compatibile și dacă doriți, le și asamblăm pentru dumneavoastră și livrăm PC-ul gata făcut la ușă !</p>
                </section>
                <section id="news">
                    <section id="promotii">
                        <h2>Promoții de până la <s>10%</s> <ins>40%</ins> doar la <abbr title="PC Fabric">PCF</abbr></h2>
                            <math xmlns="http://www.w3.org/1998/Math/MathML">
                                <mrow>
                                    <mi>
                                    <mglyph valign="-0.2em" height="1em" src="/resurse/imagini/tastaturaicon.jpg" alt="(tastatura icon)"/>
                                    </mi>
                                    <mo>+</mo>
                                    <mi>
                                    <mglyph valign="-0.2em" height="1em" src="/resurse/imagini/mouseicon.png" alt="(mouse icon)"/>
                                    </mi>
                                    <mo>=</mo>
                                    <mtext id="math-extra">extra</mtext>
                                    <mspace width="0.5em"/>
                                    <mn>10</mn>
                                    <mo>%</mo>
                                    <mspace width="0.5em"/>
                                    <mtext>reducere (se aplica prima)</mtext>
                                </mrow>
                                <mspace linebreak='newline' />
                            </math>
                            <a href="#ab"> Link vizitat </a> <br>
                            <a href="#ad"> Link nevizitat </a> <br>
                            <a href="http://www.google.com"> Link extern </a> <br>
                            <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  </p>
                        <section>
                            <h3>În limita stocului disponibil !</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <h3><b>Ofertă</b> carcasă cadou</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </section>
                    </section>
                </section>
                <section id="calendar">
                    <p>PLACEHOLDER CALENDAR 
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </p>
                </section>
                <section id="orar">
                    <h2>Orar</h2>
                    <div id="div-orar">
                        <table id="tab-orar">
                            <thead>
                                <tr>
                                    <th>Cod</th>
                                    <th>Perioadă</th>
                                    <th>Zi</th>
                                    <th>Interval dimineata</th>
                                    <th>Pauza de masa</th>
                                    <th>Interval seară</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td rowspan="5">Zile<br/>Lucrătoare</td>
                                    <td>Luni</td>
                                    <td>10-12</td>
                                    <td>12-14</td>
                                    <td>14-20</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    
                                    <td>Marti</td>
                                    <td>9-12</td>
                                    <td>12-14</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    
                                    <td>Miercuri</td>
                                    <td>9-11</td>
                                    <td>11-13</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    
                                    <td>Joi</td>
                                    <td>9-11</td>
                                    <td>11-13</td>
                                    <td>14-21</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    
                                    <td>Vineri</td>
                                    <td>9-12</td>
                                    <td>12-14</td>
                                    <td>14-19</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td rowspan="2">Weekend</td>
                                    <td>Sambata</td>
                                    <td>10-12</td>
                                    <td>12-13</td>
                                    <td>13-16</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Duminica</td>
                                    <td>10-14</td>
                                    <td>-</td>
                                    <td>inchis</td>
                                </tr>
                            </tbody>
                            <tfoot><tr><td colspan="6">Închis cu ocazia sărbătorilor legale sau când ne e mai lene așa.</td></tr></tfoot>
                        </table> 
                    </div>
                </section>
                <section id="anunturi">
                    <h2>Anunțuri</h2> <p><time datetime="2022-01-05">5 ianuarie 2022</time> <strong>No more Covid!!!!</strong></p>
                
                    <p><time datetime="2020-07-05">5 iulie 2020</time> Am adăugat o prăjitură noua în meniu</p>
                    <p><time datetime="2020-09-15">15 septembrie 2020</time> Am adăugat un fursec nou în meniu</p>
                    <p><time datetime="2020-12-20">20 decembrie 2020</time> Nu avem nimic de anunțat, dar ne era dor de voi.</p>
                    <p><time datetime="2020-12-28">28 decembrie 2020</time> Am adăugat o prăjitură noua în meniu</p>
                    <p><time datetime="2021-01-01">1 ianuarie 2021</time> Un an nou fericit!</p>
                    <p><time datetime="2021-02-11">11 februarie 2021</time> Studiile au arătat că prăjiturile sunt cele mai sănătoase alimente. 
                        E adevărat că doar studiile noastre, dar astea sunt detalii. </p>
                </section>
                <section id="lista-utilizatori">
                    <p>PLACEHOLDER LISTA UTILIZATORI 
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </p>
                </section>
                <section id="statistici">
                    <p>PLACEHOLDER STATISTICI
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </p>
                </section>
                <section id="date-site">
                    <p>PLACEHOLDER DATE SITE
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </p>
                </section>
            </div>
            <summary id="index-intrebari">
                <h2>Întrebări frecvente</h2>
                <details>
                    <summary>Produsele dumneavoastră au garanție?</summary>
                    <p>Da! 2 ani sau chiar 3 ani dacă optați pentru garanție extinsă. </p>
                </details>
                <details>
                    <summary>Produsele dumneavoastră au garanție?</summary>
                    <p>Da! 2 ani sau chiar 3 ani dacă optați pentru garanție extinsă. </p>
                </details>

            </summary>

            <figure>
                <picture> <!-- imagini diferite in functie de viewport width -->
                    <source srcset="/resurse/imagini/tastatura.jpg" media="(max-width:700px)"/>
                    <source srcset="/resurse/imagini/oldpc.jpg" media="(max-width:1200px)"/>
                    <img src="/resurse/imagini/laptop.jpg" alt="imagine reprezentativa" title="PC"/>
                </picture>
                <figcaption><b>Calculatoare</b></figcaption>
            </figure>
            <hr class="gradient-hr">
            <div id="imagine_duotone">

            </div>
            <div class="container-iframe">
                <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/f8GEj8Yl0po?si=V_OOmZT2WGc5CEHD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="taburi-iframe">
                    <a class="anch-iframe" href="https://www.youtube.com/embed/N2nMiid0MbI?si=9aFjqQ9WF7obO8HA" target="ifr-video">PC BUILD 1</a>
                    <a class="anch-iframe" href="https://www.youtube.com/embed/f8GEj8Yl0po?si=V_OOmZT2WGc5CEHD" target="ifr-video">Cars</a>
                    <a class="anch-iframe" href="https://www.youtube.com/embed/f8GEj8Yl0po?si=V_OOmZT2WGc5CEHD" target="ifr-video">Cars, again</a>
                </div>
            </div>

            <%- include("../fragmente/galerie_statica.ejs") %>

        </main>

        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>