<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="bucuresti, calculator, pc, procesor, placa grafica, intel, amd, nvidia, asamblare, cabluri, ssd, stocare, surse alimentare">
        <meta name="description" content="PC Fabric - Construiește-ți propriul PC după bunul plac, iar noi avem grijă ca piesele tale să fie compatibile.">
        
        <title>PC Fabric - Placi grafice</title>
        <%- include("../fragmente/head") %>     
        <link rel="stylesheet" href="/resurse/css/galerie_statica.css">
    </head>
    <body>
    <%- include("../fragmente/header") %>
    <link rel="stylesheet" href="/resurse/css/items.css" type="text/css"/>
    <link rel="stylesheet" href="/resurse/css/filtrare.css" type="text/css"/>

    <main>
        <%- include("../fragmente/filtrare", {tip_item: tip_item, json_filtre: json_filtre, items: items}) %>
        <div class="pcontainer" id="productContainer">
            <% items.forEach( (item) => { %>
                <div class="product" id="placa_grafica-<%= item.id %>">
                    <a href="/placi_grafice/<%= item.id %>"> Placa grafica <%= item.brand %> <%= item.model %>
                        <br>
                        <img src="<%= item.cale_imagine %>" alt="Product Photo">
                    </a>
                    <ul>
                        <li>Generatie: <%= item.generatie %></li>
                        <li>Frecventa maxima: <%= item.frecventa_maxima_MHz / 1000 %> GHz</li>
                        <li>Dimensiune memorie: <%= item.memorie_MB %> MB</li>
                        <li>Tip memorie: <%= item.tip_memorie %></li>
                        
                        <% if(item.pret_redus != null) { %>
                        <li id="pret_normal"><s>Pret normal: <%= item.pret %> RON</s></li>
                        <li id="pret_redus">Pret acum: <%= item.pret_redus %> RON</li>
                        
                        <% } else {%>
                        <li id="filler_pret" style="color: rgba(0,0,0,0);">Pret intreg</li>
                        <li id="pret_redus">Pret acum: <%= item.pret %> RON</li>
                        <% }%>

                        <% if(item.ieftin) {%>
                            <li style="color: green;">Cel mai ieftin produs!</li>
                        <% } %>

                        <% if((new Date().getTime() - new Date(item.data_lansare).getTime()) / (1000 * 60 * 60 * 24 * 365.25) > 5) { %>
                            <li style="color: red;">Extra discount 15% în coș.</li>
                        <% } %>
                        <button class="buy-button">Adauga in cos</button>
                    </ul>
                </div>
            <% }); %>
        </div>
    </main>

    <%- include("../fragmente/footer") %>
    <script>
        const items = JSON.parse(`<%- JSON.stringify(items) %>`);
        const tip_componenta = '<%- tip_item %>';
        const json_filtre = JSON.parse('<%- JSON.stringify(json_filtre) %>');
    </script>
    <script src="/resurse/js/filtrare_sortare.js"></script>
    </body>
</html>