<div id="galerie_statica">
    <div id="imagine_1">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[0] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[0] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[0] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[0] %> - <%= locals.ob_galerie.descriere[0] %></figcaption>
        </figure>
    </div>
    <div id="imagine_2">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[1] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[1] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[1] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[1] %> - <%= locals.ob_galerie.descriere[1] %></figcaption>
        </figure>
    </div>
    <div id="imagine_3">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[2] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[2] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[2] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[2] %> - <%= locals.ob_galerie.descriere[2] %></figcaption>
        </figure>
    </div>
    <div id="imagine_4">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[3] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[3] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[3] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[3] %> - <%= locals.ob_galerie.descriere[3] %></figcaption>
        </figure>
    </div>
    <div id="gol_1"></div>
    <div id="imagine_5">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[4] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[4] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[4] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[4] %> - <%= locals.ob_galerie.descriere[4] %></figcaption>
        </figure>
    </div>
    <div id="imagine_6">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[5] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[5] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[5] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[5] %> - <%= locals.ob_galerie.descriere[5] %></figcaption>
        </figure>
    </div>
    <div id="imagine_7">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[6] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[6] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[6] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[6] %> - <%= locals.ob_galerie.descriere[6] %></figcaption>
        </figure>
    </div>
    <div id="imagine_8">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[7] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[7] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[7] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[7] %> - <%= locals.ob_galerie.descriere[7] %></figcaption>
        </figure>
    </div>
    <div id="imagine_9">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[8] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[8] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[8] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[8] %> - <%= locals.ob_galerie.descriere[8] %></figcaption>
        </figure>
    </div>
    <div id="gol_2"></div>
    <div id="imagine_10">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[9] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[9] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[9] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[9] %> - <%= locals.ob_galerie.descriere[9] %></figcaption>
        </figure>
    </div>
    <div id="imagine_11">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[10] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[10] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[10] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[10] %> - <%= locals.ob_galerie.descriere[10] %></figcaption>
        </figure>
    </div>
    <div id="imagine_12">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[11] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[11] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[11] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[11] %> - <%= locals.ob_galerie.descriere[11] %></figcaption>
        </figure>
    </div>
    <div id="imagine_13">
        <figure>
            <picture>
                <source srcset="<%= locals.ob_galerie.sursa_mica[12] %>" media="(max-width:700px)"/>
                <source srcset="<%= locals.ob_galerie.sursa_medie[12] %>" media="(max-width:1200px)"/>
                <img src="<%= locals.ob_galerie.sursa[12] %>"/>
            </picture>
            <figcaption><span class="numerotare"></span><%= locals.ob_galerie.titlu[12] %> - <%= locals.ob_galerie.descriere[12] %></figcaption>
        </figure>
    </div>
</div>